body {
	font: 16px Helvetica;
}

#container {
	display: block;
	margin: auto;
	width: 98%;
	height: 96%;
	border: solid grey 2px;
}

#size {
	position: fixed;
	font-size: 1.3rem;
	top: 2%;
	right: 3%;
}

#sizeselect {
	font-size: 1.3rem;
}

.node rect {
	stroke: #333;
	fill: #fff;
}

.edgePath path {
	stroke: #333;
	fill: #333;
	stroke-width: 1.5px;
}
